$bg-primario: #EB5E28;
$bg-primario-hover: #a83f15;

$bg-color-page: #5a5a5a;

$redes-sociales: ( 
        instagram: #d34361,
        facebook:  #3a5795,
        spotify: #1dd15d,
        youtube: #f70000
); 
