


* { /* etiqueta raíz */
  
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}




/* GLOBAL STYLES
-------------------------------------------------- */


body {
  padding-top: 5rem;
  padding-bottom: 0;
  color: #5a5a5a;
}

.btn , 
.form-control{
  border-radius: 0;
}

.btn {
  background-color: #EB5E28;
  border-color: #EB5E28;;
}

.btn:hover {
  background-color: #a83f15;
  border-color: #a83f15;;
}



.navbar  {
  height: 5rem;
}

.card{
  width: 20rem;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
}

.card-img-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}




.featurette-divider {
  margin: 5rem 0; 
}


.featurette-heading {
  letter-spacing: -.05rem;
  font-size: 40px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 576px) {
  
  .featurette-heading {
    font-size: 70px;
  }

  
}


.card__social {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.5rem 0.5rem;
  opacity: 80%;
}
.card__social:hover {
  opacity: 100%;
}




.navbar-brand img{
  width: 3rem;
}


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}




.social {
  width: 4rem;
  height: 4rem;
  margin: 1rem 1rem;
  opacity: 80%;
}

.social:hover{
  opacity: 100%;
}

#grilla {
  display: grid;
  grid-template-areas: 
  "header header header header"
  "body body body body"
  "footer footer footer footer";

  grid-template-columns: repeat(4, 1fr); 
  

}

#header {
  grid-area: header;
}
#body {
  grid-area: body;
}

#footer {
  grid-area: footer;
}

.card_galery img{
  height: 200px;
  margin: 1rem;
  
}

.card_galery {
  border: none;
}

